--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

black
check-manifest
cookiecutter
flake8
jupyterlab
jupytext
mypy
nox
pre-commit
pybind11
pylint
pytest
pyyaml
setuptools
setuptools-rust
torch==1.10.2+cpu
torchaudio==0.10.2+cpu
torchvision==0.11.3+cpu
